html, body {
    margin: 0;
    padding: 0;
    background-color: black !important;
    color: white !important;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#NavContainer, #NavBar, #Server-Selector, #ServerPanel {
    margin: 0;
    padding: 0;
}

#Server-Selector {
    background-color: black;
    padding: 20px 0;
    padding-left: 20px;
    box-shadow: 3px 3px 15px gray;
}

#ServerPanel {
    background-color: black;
    padding: 20px 0;
    padding-left: 20px;
    box-shadow: 3px 3px 15px gray;
}